:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --fw-300-sans: 300;
  --fw-400-alata: 400;
  --ff-alata: 'Alata', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

img,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-josefin-sans);
  background-color: var(--white);
  color: var(--white);
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.background-image {
  padding: 20px;
  background-color: var(--black);
  background-image: url(images/mobile/image-hero.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: grid;
  align-items: baseline;
}

.overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 20px;
}

.navigation-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo,
.menu-icon,
.close-icon {
  cursor: pointer;
}

.navigation-items {
  list-style: none;
  position: absolute;
  bottom: 210px;
  left: 0;
  padding: 20px;
}

.navigation-items li,
.footer-items li {
  margin: 20px 0;
}

.navigation-items a,
.footer-items a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  position: relative;
}

/* hover transition effect */
.navigation-items a::before,
.footer-items a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.6s ease;
}
.navigation-items a:hover::before,
.footer-items a:hover::before {
  width: 100%;
}

.hero-box {
  /* text-align: left; */
  text-transform: uppercase;
  padding: 40px 20px;
  border: 3px solid var(--white);
}

.hero-title {
  /* text-wrap:balance; */
  text-align: left;
  font-size: 2.5rem;
  font-weight: var(--fw-300-sans);
}

.second-section {
  margin-top: 2rem;
  padding: 20px 13px;
}
.second-section-img {
  margin: 0 auto;
}
.second-section-text {
  text-align: center;
  margin: 18px;
}

.second-section-title {
  font-weight: var(--fw-300-sans);
  font-size: 2.9rem;
  color: var(--black);
  text-transform: uppercase;
  text-wrap: balance;
}

.second-section-paragraph {
  font-family: var(--ff-alata);
  font-weight: var(--fw-400-alata);
  font-size: 1.2rem;
  color: var(--dark-gray);
}

.gallery {
  padding: 20px;
  display: grid;
  /* grid-template-columns: repeat(8,1fr); */
  gap: 20px;
  place-items: center;
}

.gallery-header {
  color: var(--black);
  /* text-align: center; */
  font-weight: var(--fw-300-sans);
  text-transform: uppercase;
  font-size: 2rem;
}
.overlayimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  pointer-events: none; /* Allows clicks to pass through */
}

.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.gallery-item-title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 2rem;
  font-weight: var(--fw-300-sans);
  position: absolute;
  top: 50%;
  left: 24px;
}

.gallery-button {
  text-decoration: none;
  color: var(--black);
  padding: 10px 40px;
  letter-spacing: 3px;
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: var(--ff-alata);
  font-weight: var(--fw-400-alata);
}

.footer {
  margin-top: 1rem;
  padding: 40px 0;
  background-color: var(--black);
  display: grid;
  place-items: center;
  gap: 40px;
}

.footer-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.footer-items a {
  color: var(--white);
  font-size: 1.4rem;
  text-decoration: none;
}

.companies {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.company {
  width: 33px;
}

.company:hover {
  opacity: 0.7;
}

.credits {
  font-size: 1.2rem;
  color: var(--dark-gray);
  font-family: var(--ff-alata);
  font-weight: var(--fw-400-alata);
}

/* scaling for bigger screens */

@media screen and (min-width: 700px) {
  .close-icon,
  .menu-icon {
    display: none;
  }
  .background-image {
    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
    padding: 40px 50px;
  }
  .hero-box {
    max-width: 460px;
    text-wrap: balance;
  }
  .navigation-items.navigation-items {
    display: flex !important;
    gap: 29px;
    position: unset;
    align-items: center;
    padding: 0;
  }
  .navigation-items li {
    margin: 0;
  }
  .navigation-items a {
    font-size: 1.3rem;
  }
  .second-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .picture {
    grid-column: 1/5;
  }
  .second-section-text {
    grid-column: 4 / -1;
    align-self: end;
    background-color: white;
    /* justify-self: baseline; */
    padding: 50px 30px;
    margin: -18px 0;
    text-align: left;
    border-radius: 2px;
  }
  .picture,
  .second-section-text {
    grid-row: 1/2;
  }
  .gallery {
    margin-top: 4rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
  }
  .gallery-header {
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: left;
  }
  .gallery-button {
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: right;
  }
  .gallery img {
    width: 100%;
  }
  .footer {
    margin-top : 3rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    grid-template-rows: 1fr;
    padding:33px 50px 25px 32px
  }
  .footer-items {
    padding:0 0 0 0.5rem;
    flex-direction: row;
    gap: 20px;
    grid-column: 1/2;
    grid-row: 2;
    justify-self: left;
  }
  .logo {
    grid-column: 1/2;
    justify-self: left;
  }
  .credits {
    grid-column: 2/3;
    justify-self: right;
  }
  .companies {
    grid-column: 2;
    justify-self: right;
  }
  .footer-items a {
    font-size: 1.22rem;
  }
}
