:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --fw-300-sans: 300;
  --fw-400-alata: 400;
  --ff-alata: 'Alata', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

img , svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-josefin-sans);
  background-color: var(--white);
  color: var(--white);
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.background-image {
  padding: 20px;
  background-color: var(--black);
  background-image: url(images/mobile/image-hero.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: grid;
  align-items: baseline;
}

.overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 20px;
  
}

.navigation-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo,.menu-icon , .close-icon {
  cursor: pointer;
}
 
.navigation-items {
  list-style: none;
  position: absolute;
  bottom: 210px;
  left: 0;
  padding: 20px;
  
}

.navigation-items li {
  margin: 20px 0;
}

.navigation-items a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}


.hero-box {
  /* text-align: left; */
  text-transform: uppercase;
  padding: 40px 20px;
  border: 3px solid var(--white);
}

.hero-title {
  /* text-wrap:balance; */
  text-align:left;
  font-size: 2.5rem;
  font-weight: var(--fw-300-sans);
}



.second-section {
  margin-top: 1rem;
  padding: 20px 13px;
}
.second-section-text {
  text-align: center;
  margin: 18px;
  
}

.second-section-title {
  font-weight: var(--fw-300-sans); 
  font-size: 2.9rem;
  color: var(--black);
  text-transform: uppercase;
  text-wrap:balance;
}

.second-section-paragraph {
  font-family: var(--ff-alata);
  font-weight: var(--fw-400-alata);
  font-size: 1.2rem;
  color: var(--dark-gray);

}